.container {
  align-items: center;
  background-color: #0b0c10;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  width: 100vw;
}

.hero_name {
  color: #e0e0e0;
}

.hero_title {
  color: #e57373;
}

.hero_tagline {
  color: #2f7b7c;
  text-align: center;
}
